@page "/about"

<h1>MADE USING BLAZOR</h1>
<p>Source @@ <a target="_blank" href="https://gitlab.com/Akolman/blazorGUIDgen">Gitlab</a></p>
<p>Report issues <a target="_blank" href="https://gitlab.com/Akolman/blazorGUIDgen/-/issues">Here</a></p>
<p>Contact me at: <b>guid /at\ akolman /dot\ info</b></p>
<p>Version 1.5</p>