@page "/SG"
@inject Program.ClipboardService ClipboardService

<h1>Generate Number of Sequences by Pattern</h1>
<b>For pattern help see <a href="https://gitlab.com/Akolman/seqeasy/-/tree/master/Seqeasy.StringPattern">Seqeasy.StringPattern</a></b>
<div>
    <div>
        Number to Generate:
        <input @bind="SeqsToGen" type="text" placeholder="Number to generate" />
    </div>
    <div>
        Pattern:
        <input @oninput="PatternChanged" type="text" />
        Width / Combinations:
        @statLabel;
    </div>
    
    <select @onchange="CharsetChanged">
        <option value="1">All Characters with Symbols</option>
        <option value="2">All Characters without Symbols</option>
        <option value="3">All Non-Ambiguous Characters without Symbols</option>
        <option value="10">Binary</option>
        <option value="16">Hexadecimal</option>
    </select>
</div>
<div>
    Deduplicate
    <input type="checkbox" @bind="Deduplicate"/>
    Crypto-secure RNG
    <input type="checkbox" @bind="UseCSRNG"/>
</div>

<button class="btn-primary" value="Generate" @onclick="GenerateSeqs">Generate</button>
<p style="color:red" hidden="@string.IsNullOrWhiteSpace(ErrorText)">
    @ErrorText
</p>
<p style="color:red" hidden="@string.IsNullOrWhiteSpace(WarningText)">
    @WarningText
</p>
<table>
    <tbody>
       @{
           var idx = 0;
       }
        @foreach (var seq in Seqs)
        {
            <tr>
                <td><input class="guid-val" onclick="this.select();" @onkeydown="(args)=> InputOnKeyDown(args, seq.Value)" type="text" value="@seq.Value" readonly size="@InputWidth"></td>
                <td style="font-size:x-small">@idx@{idx++;}</td>
                <td>
                    @if(seq.Copied)
                    {
                        <button class="btn-primary content" @onclick="() => CopyToClipboard(seq.Value)">Copied</button>
                    }
                    else
                    {
                        <button class="btn-primary content" @onclick="() => CopyToClipboard(seq.Value)">Copy</button>
                    }
                </td>  
            </tr>
        }
    </tbody>
</table>

@code {
    public class SeqItem
    {
        public SeqItem(string value)
        {
            Value = value;
        }

        public string Value { get; set; } = string.Empty;

        public bool Copied { get; set; } = false;
    }

    public bool Deduplicate = true;
    public bool UseCSRNG = false;
    public string CharsetChoice = "1";
    public string ErrorText = string.Empty;
    public string WarningText = string.Empty;
    public string Pattern = String.Empty;
    public int InputWidth = 10;
    public int SeqsToGen = 1;
    public string statLabel = "0/0";
    public List<SeqItem> Seqs = new List<SeqItem>();

    void InputOnKeyDown(KeyboardEventArgs args, string key)
    { 
        if(args.CtrlKey && args.Key == "c")
        {
            SetIdCopied(key);
        }
    }

    async Task CopyToClipboard(string id)
    {
        // Writing to the clipboard may be denied, so you must handle the exception
        try
        {
            await ClipboardService.WriteTextAsync(id);
        }
        catch
        {
            Console.WriteLine("Cannot write text to clipboard");
        }

        SetIdCopied(id);
    }

    void CharsetChanged(ChangeEventArgs e)
    {
        CharsetChoice = e!.Value!.ToString()!;
        UpdateStats();
    }

    void PatternChanged(ChangeEventArgs e)
    {
        Pattern = e!.Value!.ToString()!;

        try
        {
            UpdateStats(); 
        }
        catch(Exception)
        {
            
        }
    }

    void UpdateStats()
    {
        var stringPat = GetSPFromCharsetChoice();

        if(stringPat.Combinations < 1_000_000_000_000_000)
        {
            statLabel = $"{stringPat.Width} / {stringPat.Combinations}";
            WarningText = string.Empty;
        }
        else
        {
            var bneeded = stringPat.Combinations.GetByteCount();
            var combs = string.Format("{0:#.##E+0}", stringPat.Combinations);
            if (bneeded < 5000)
            {
                WarningText = string.Empty;
            }
            else if(bneeded >= 5000 && bneeded <= 15000)
            {
                WarningText = $"Watch it!  That's {combs} combinations and I'm having trouble with that number.";
            }
            else if(bneeded > 15000 && bneeded < 40000)
            {
                WarningText = $"CAREFUL!  That's {combs} COMBOS now and I'm having trouble with that number.";
            }
            else
            {
                WarningText = $"WHAT ARE YOU DOING!?!?  That's {combs} COMBOS!!!!!";
            }

            statLabel = $"{stringPat.Width} / {combs}"; 
        }

        this.StateHasChanged();
    }

    void SetIdCopied(string id)
    {
        Seqs.Single(s => s.Value.Equals(id)).Copied = true;
    }

    private Seqeasy.StringPattern.StringPattern GetSPFromCharsetChoice()
    {
        switch (CharsetChoice)
        {
            case "1" :
                return Seqeasy.StringPattern.StringPattern.Parse<Seqeasy.CharacterSets.CaseSensitive.AlphaNumFullSymbols>(Pattern);
            case "2" :
                return Seqeasy.StringPattern.StringPattern.Parse<Seqeasy.CharacterSets.CaseSensitive.AlphaNumFull>(Pattern);
            case "10":
                return Seqeasy.StringPattern.StringPattern.Parse<Seqeasy.CharacterSets.Special.BinaryCharSet>(Pattern);
            case "16":
                return Seqeasy.StringPattern.StringPattern.Parse<Seqeasy.CharacterSets.Special.HexCharSet>(Pattern);
            default :
                return Seqeasy.StringPattern.StringPattern.Parse<Seqeasy.CharacterSets.CaseSensitive.AlphaNumNoAmbigLetters>(Pattern);
        }
    }

    public void GenerateSeqs()
    {
        Seqs.Clear();

        var genopts = GeneratorOptions.Defaults;
        if (UseCSRNG)
        {
            genopts.RandomizerLevel = RandomizerLevel.Secure;
        }

        var batchOpts = BatchGenerationOptions.None;

        if(Deduplicate)
        {
            batchOpts |= BatchGenerationOptions.Deduplicate;
        }

        try
        {
            using var gen = SequenceGenerator.Build(GetSPFromCharsetChoice());

            if (gen.Width < 40)
            {
                InputWidth = gen.Width + 2;
            }
            else
            {
                InputWidth = 40 + 3;
            }

            foreach(var seq in gen.GetEnumerator(SeqsToGen, batchOpts))
            {
                Seqs.Add(new SeqItem(seq));
            }

            ErrorText = string.Empty;
        }
        catch(Exception e)
        {
            ErrorText = e.Message;
        }
	}
}
